@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  width: 100%;
}

.cp {
  cursor: pointer;
}

.my-gradiant-bg{
  background: linear-gradient(90deg, rgba(82,193,132,1) 0%, rgba(36,53,162,1) 35%, rgba(139,111,162,0.5354516806722689) 100%);
}